# Ignore NetBeans project files
nbproject/
nbproject/private/

# Ignore build artifacts
build/
dist/

# Ignore compiled Java classes and JARs
*.class
*.jar
*.war
*.ear

# Ignore NetBeans-specific files
nbactions.xml
nb-configuration.xml
